

div {
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-size: 35px;
}

button {
    width: 250px;
    height: 80px;
    background-color: rgb(40, 53, 87);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color:darkslateblue;
}
